/*Carrousel*/
.carousel-item {
  padding: 20px;
}

.carousel-text {
  color: #586875;
  padding: 20px;
  text-align: left;
  animation: fadeInRightStrong 1.2s ease-out;
  opacity: 0; 
  animation-fill-mode: forwards;
}

@keyframes fadeInRightStrong {
  0% {
    opacity: 0;
    transform: translateX(100px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}